framework/org.solmix.framework.api/src/main/resources/org/solmix/api/datasource.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.solmix.org/xmlns/datasource/v1.0.1"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.solmix.org/xmlns/datasource/v1.0.1"
	elementFormDefault="qualified" attributeFormDefault="qualified"
	version="1.0.1">


	<xsd:annotation>
		<xsd:documentation>Transport to use for all operations on this
			DataSource. </xsd:documentation>
	</xsd:annotation>
	<xsd:element name="module" type="module"></xsd:element>

	<xsd:complexType name="module">
		<xsd:sequence>
			<xsd:element name="DataSource" type="TdataSource"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="TdataSource">
		<xsd:annotation>
			<xsd:documentation><![CDATA[
This is the XML Schema for the Solmix DataSource service 1.0.0 development
descriptor.DataSource Configuration files using this schema must indicate 
 the schema using the version 1.0.0 namespace.for example,
<DataSource xmlns="http://www.solmix.org/xmlns/datasource/v1.0.0">
  if used as a qualified namespace,"slx" is the recommended namespace prefix.
  ]]></xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="description" type="Tdescription"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="fields" type="Tfields" minOccurs="0"></xsd:element>
			<xsd:element name="operationBindings"
				type="ToperationBindings" minOccurs="0">
			</xsd:element>
			<xsd:group ref="Gc_client_i"></xsd:group>
			<xsd:group ref="Gs_with_operation"></xsd:group>

			<xsd:element name="sqlPara" type="TsqlPara" minOccurs="0"></xsd:element>
			<xsd:group ref="Gs_extention"></xsd:group>
			
		</xsd:sequence>
		<xsd:attributeGroup ref="Aidentity"></xsd:attributeGroup>
		<xsd:attributeGroup ref="Aso_datasource"></xsd:attributeGroup>
		<xsd:attributeGroup ref="Atitle"></xsd:attributeGroup>
		<xsd:attributeGroup ref="Avalidate"></xsd:attributeGroup>
		<xsd:attributeGroup ref="Ac_client"></xsd:attributeGroup>
		<xsd:attributeGroup ref="Ac_client_i"></xsd:attributeGroup>
		<xsd:attributeGroup ref="Ac_desc"></xsd:attributeGroup>
		<xsd:attributeGroup ref="Aco_datasource"></xsd:attributeGroup>
		<xsd:attributeGroup ref="Acommon_datasource"></xsd:attributeGroup>
		<xsd:attributeGroup ref="Afield_ds"></xsd:attributeGroup>
		<xsd:attributeGroup ref="Atransaction"></xsd:attributeGroup>
        <xsd:anyAttribute namespace="##any" processContents="lax"></xsd:anyAttribute>
    </xsd:complexType>
	<xsd:complexType name="Tdescription">
		<xsd:annotation>
			<xsd:documentation><![CDATA[
    		A generic <description> element type to allow documentation to added to the DataSource 
			xml configuration file.
	             ]]></xsd:documentation>
		</xsd:annotation>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="content" type="xsd:string"></xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<xsd:attributeGroup name="Aidentity">
		<xsd:annotation>
			<xsd:documentation>DataSouce identity</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="ID" type="xsd:string" use="required"
			form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="addGlobalId" type="xsd:string"
			form="unqualified">
			<xsd:annotation>
				<xsd:documentation>Whether to make this DataSource available as a
					global variable for convenience.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
        <xsd:attribute name="serverType" type="EserverType" form="unqualified"></xsd:attribute>
    </xsd:attributeGroup>

	<xsd:attributeGroup name="Ac_client">
		<xsd:attribute name="autoCacheAllData" type="xsd:boolean"
			form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="cacheAllData" type="xsd:boolean"
			form="unqualified"></xsd:attribute>
		<xsd:attribute name="cacheData" type="xsd:string" form="unqualified"></xsd:attribute>
		<xsd:attribute name="cacheMaxAge" type="xsd:int" form="unqualified"></xsd:attribute>
	</xsd:attributeGroup>

	<xsd:attributeGroup name="Atitle">
		<xsd:attribute name="pluralTitle" type="xsd:string"
			form="unqualified">
			<xsd:annotation>
				<xsd:documentation>
					User-visible plural name for this DataSource.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="title" type="xsd:string" form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="titleField" type="xsd:string" form="unqualified">
			<xsd:annotation>
				<xsd:documentation>
					Best field to use for a user-visible title for an
					individual record from this dataSource.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="autoDeriveTitles" type="xsd:boolean"
			form="unqualified"></xsd:attribute>
	</xsd:attributeGroup>


	<xsd:simpleType name="EdataFormat">
		<xsd:annotation>
			<xsd:documentation>Indicates the format to be used for HTTP requests
				and responses when fulfilling DSRequests</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="json"></xsd:enumeration>
			<xsd:enumeration value="xml"></xsd:enumeration>
			<xsd:enumeration value="soap"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="EdataProtocol">
		<xsd:annotation>
			<xsd:documentation>
				Controls the format in which inputs are sent to the dataURL when fulfilling
				DSRequests
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="getParams"></xsd:enumeration>
			<xsd:enumeration value="postParams"></xsd:enumeration>
			<xsd:enumeration value="postXML"></xsd:enumeration>
			<xsd:enumeration value="clientCustom"></xsd:enumeration>
			<xsd:enumeration value="soap"></xsd:enumeration>
			<xsd:enumeration value="postMessage"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:attributeGroup name="Aso_datasource">
		<xsd:attribute name="tableName" type="xsd:string"
			form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="dbName" type="xsd:string"
			form="unqualified">
		</xsd:attribute>
		        <xsd:attribute name="sqlSchema" type="xsd:string" form="unqualified"></xsd:attribute>
        <xsd:attribute name="simpleReturn" type="xsd:boolean" form="unqualified" default="false"></xsd:attribute>
    </xsd:attributeGroup>
	<xsd:simpleType name="EserverType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="basic"></xsd:enumeration>
			<xsd:enumeration value="sql"></xsd:enumeration>
			<xsd:enumeration value="custom"></xsd:enumeration>
			<xsd:enumeration value="jpa"></xsd:enumeration>
			<xsd:enumeration value="filesystem"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>


	<xsd:attributeGroup name="Aco_datasource">
		<xsd:attribute name="clientOnly" type="xsd:boolean"
			form="unqualified">
		</xsd:attribute>
	</xsd:attributeGroup>

	<xsd:attributeGroup name="Afield_ds">
		<xsd:attribute name="inheritsFrom" type="xsd:string"
			form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="useFlatFields" type="xsd:boolean"
			form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="showLocalFieldsOnly" type="xsd:boolean"
			form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="useParentFieldOrder" type="xsd:boolean"
			form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="autoDeriveSchema" type="xsd:boolean"
			form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="validateRecords" type="xsd:boolean"
			form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="schemaBean" type="xsd:string"
			form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="persistenceUnit" type="xsd:string" form="unqualified"></xsd:attribute>
        <xsd:attribute name="bean" type="xsd:string"></xsd:attribute>
    </xsd:attributeGroup>
	<xsd:complexType name="Tobject">
		<xsd:sequence>
			<xsd:any minOccurs="0" namespace="##any" processContents="lax" maxOccurs="unbounded"></xsd:any>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:attributeGroup name="Avalidate">
		<xsd:attribute name="useLocalValidators" type="xsd:boolean"
			form="unqualified"></xsd:attribute>
	</xsd:attributeGroup>

	<xsd:attributeGroup name="Ac_client_i">
		<xsd:attribute name="dataProtocol" type="EdataProtocol"
			form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="dataURL" type="xsd:string"
			form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="dropUnknownCriteria" type="xsd:string" form="unqualified"></xsd:attribute>
		<xsd:attribute name="dropExtraFields" type="xsd:boolean"
			form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="dataTransport" type="ErequestTransport"
			form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="recordXPath" type="xsd:string"
			form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="tagName" type="xsd:string"
			form="unqualified">
			<xsd:annotation>
				<xsd:documentation>
					Tag name to use when serializing to XML. If
					unspecified, the dataSource.ID will be used.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="useHttpProxy" type="xsd:boolean"
			form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="dataFormat" type="EdataFormat"
			form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="testFileName" type="xsd:string"
			form="unqualified">
		</xsd:attribute>
	</xsd:attributeGroup>

	<xsd:group name="Gc_client_i">
		<xsd:sequence>
			<xsd:element name="callbackParam" type="xsd:string"
				minOccurs="0">
			</xsd:element>
			<xsd:element name="testData" type="Tobject" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:group>


	<xsd:simpleType name="ErequestTransport">
		<xsd:annotation>
			<xsd:documentation>Transport to use for all operations on this
				DataSource. </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="xmlHttpRequest"></xsd:enumeration>
			<xsd:enumeration value="scriptInclude"></xsd:enumeration>
			<xsd:enumeration value="hiddenFrame"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:attributeGroup name="Ac_desc">
		<xsd:attribute name="iconField" type="xsd:string" form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="infoField" type="xsd:string" form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="dataField" type="xsd:string" form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="descriptionField" type="xsd:string"
			form="unqualified"></xsd:attribute>
	</xsd:attributeGroup>


	<xsd:attributeGroup name="Acommon_datasource">
		<xsd:attribute name="autoConvertRelativeDates" type="xsd:boolean"
			form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="canMultiSort" type="xsd:boolean"
			form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="criteriaPolicy" type="EcriteriaPolicy"
			form="unqualified"></xsd:attribute>
		<xsd:attribute name="jsonPrefix" type="xsd:string" form="unqualified"></xsd:attribute>
		<xsd:attribute name="jsonSuffix" type="xsd:string" form="unqualified"></xsd:attribute>
		<xsd:attribute name="preventHTTPCaching" type="xsd:boolean"
			form="unqualified"></xsd:attribute>
		<xsd:attribute name="qualifyColumnNames" type="xsd:boolean"
			form="unqualified"></xsd:attribute>
		<xsd:attribute name="showPrompt" type="xsd:boolean"
			form="unqualified"></xsd:attribute>
	</xsd:attributeGroup>

	<xsd:simpleType name="EcriteriaPolicy">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="dropOnChange"></xsd:enumeration>
			<xsd:enumeration value="dropOnShortening"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:group name="Gs_security">
		<xsd:sequence>
			<xsd:element name="requires" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>velocity template expression </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="requireRoles" type="xsd:string"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Comma-separated list of user roles that allowed
						to used this.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>

	<xsd:complexType name="Tsecurity">
		<xsd:sequence>
			<xsd:group ref="Gs_security"></xsd:group>
		</xsd:sequence>
		<xsd:attribute name="requireAuth" type="xsd:boolean"
			form="unqualified" default="true">
		</xsd:attribute>
		<xsd:attribute name="operator" type="Eoperator" use="optional" form="unqualified"></xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="Tservice">
		<xsd:sequence>
			<xsd:element name="methodArguments" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
		</xsd:sequence>
		<xsd:attribute name="lookupStyle" type="EserviceStyle"
			form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="interface" type="xsd:string"
			form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="filter" type="xsd:string"
			form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="class" type="xsd:string"
			form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="method" type="xsd:string"
			form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="curdName" type="xsd:string"
			form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="targetXPath" type="xsd:string"
			form="unqualified">
		</xsd:attribute>
		<xsd:anyAttribute namespace="##any"></xsd:anyAttribute>
	</xsd:complexType>
	<xsd:simpleType name="EserviceStyle">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="new"></xsd:enumeration>
			<xsd:enumeration value="osgi"></xsd:enumeration>
			<xsd:enumeration value="jndi"></xsd:enumeration>
			<xsd:enumeration value="osgi_jndi"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:group name="Gs_with_operation">
		<xsd:sequence>
			<xsd:element name="service" type="Tservice" minOccurs="0"></xsd:element>
			<xsd:element name="security" type="Tsecurity" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:group>

	<xsd:complexType name="Tfields">
		<xsd:sequence>
			<xsd:element name="field" type="Tfield" maxOccurs="unbounded"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="Tfield">
		<xsd:sequence>
			<xsd:element name="valueMap" type="TvalueMap" minOccurs="0">
			</xsd:element>
			<xsd:element name="validators" type="Tvalidators"
				minOccurs="0"></xsd:element>
		</xsd:sequence>
		<xsd:attributeGroup ref="Ac_main_field"></xsd:attributeGroup>
		<xsd:attributeGroup ref="Ac_control_filed"></xsd:attributeGroup>
		<xsd:attributeGroup ref="Ac_size_field"></xsd:attributeGroup>
		<xsd:attributeGroup ref="Aso_field"></xsd:attributeGroup>
		<xsd:attributeGroup ref="Arela_field"></xsd:attributeGroup>
    </xsd:complexType>

	<xsd:simpleType name="Eoperator">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="default"></xsd:enumeration>
			<xsd:enumeration value="view"></xsd:enumeration>
			<xsd:enumeration value="edit"></xsd:enumeration>
			<xsd:enumeration value="update"></xsd:enumeration>
			<xsd:enumeration value="init"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:attributeGroup name="Arela_field">
		<xsd:attribute name="primaryKey" type="xsd:boolean"
			form="unqualified" default="false">
		</xsd:attribute>
		<xsd:attribute name="foreignKey" type="xsd:string" form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="rootValue" type="xsd:string" form="unqualified">
			<xsd:annotation>
				<xsd:documentation>
					most time used to show tree grid.default is null.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="includeFrom" type="xsd:string"
			form="unqualified"></xsd:attribute>
	</xsd:attributeGroup>

	<xsd:attributeGroup name="Ac_control_filed">
		<xsd:attribute name="canEdit" type="xsd:boolean" form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="canExport" type="xsd:boolean" form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="canFilter" type="xsd:boolean" form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="canSave" type="xsd:boolean" form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="canSortClientOnly" type="xsd:boolean"
			form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="canView" type="xsd:boolean" form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="detail" type="xsd:boolean" form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="escapeHTML" type="xsd:boolean"
			form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="exportTitle" type="xsd:string"
			form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="pluralTitle" type="xsd:string"
			form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="prompt" type="xsd:string" form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="sequenceName" type="xsd:string"
			form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="valueXPath" type="xsd:string" form="unqualified"></xsd:attribute>
        <xsd:attribute name="multiple" type="xsd:boolean" form="unqualified">
        	<xsd:annotation>
        		<xsd:documentation>Indicates that this field should always be Array-valued. </xsd:documentation>
        	</xsd:annotation></xsd:attribute>
        <xsd:attribute name="customSQL" type="xsd:boolean" form="unqualified"></xsd:attribute>
        <xsd:attribute name="storeWithHash" type="xsd:string" form="unqualified"></xsd:attribute>
        <xsd:attribute name="dateFormat" type="xsd:string" form="unqualified"></xsd:attribute>
    </xsd:attributeGroup>

	<xsd:attributeGroup name="Ac_size_field">
		<xsd:attribute name="imageHeight" type="xsd:int" form="unqualified"></xsd:attribute>
		<xsd:attribute name="imageSize" type="xsd:int" form="unqualified"></xsd:attribute>
		<xsd:attribute name="imageWidth" type="xsd:int" form="unqualified"></xsd:attribute>
		<xsd:attribute name="length" type="xsd:int" form="unqualified"></xsd:attribute>
		<xsd:attribute name="maxFileSize" type="xsd:int" form="unqualified"></xsd:attribute>
	</xsd:attributeGroup>


	<xsd:attributeGroup name="Ac_main_field">
		<xsd:attribute name="hidden" type="xsd:boolean" form="unqualified"
			default="false">
		</xsd:attribute>
		<xsd:attribute name="ignore" type="xsd:boolean" form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="name" type="xsd:string" use="required"
			form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="title" type="xsd:string" form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="type" type="Efield" form="unqualified"></xsd:attribute>
		<xsd:attribute name="required" type="xsd:boolean" form="unqualified"></xsd:attribute>
        <xsd:attribute name="nativeName" type="xsd:string" form="unqualified"></xsd:attribute>
    </xsd:attributeGroup>

	<xsd:simpleType name="Efield">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="text"></xsd:enumeration>
			<xsd:enumeration value="boolean"></xsd:enumeration>
			<xsd:enumeration value="integer"></xsd:enumeration>
			<xsd:enumeration value="float"></xsd:enumeration>
			<xsd:enumeration value="date"></xsd:enumeration>
			<xsd:enumeration value="time"></xsd:enumeration>
			<xsd:enumeration value="datetime"></xsd:enumeration>
			<xsd:enumeration value="enum"></xsd:enumeration>
			<xsd:enumeration value="intEnum"></xsd:enumeration>
			<xsd:enumeration value="sequence"></xsd:enumeration>
			<xsd:enumeration value="link"></xsd:enumeration>
			<xsd:enumeration value="image"></xsd:enumeration>
			<xsd:enumeration value="binary"></xsd:enumeration>
			<xsd:enumeration value="imageFile"></xsd:enumeration>
			<xsd:enumeration value="any"></xsd:enumeration>
			<xsd:enumeration value="modifier"></xsd:enumeration>
			<xsd:enumeration value="modifierTimestamp"></xsd:enumeration>
				<xsd:enumeration value="creatorTimestamp"></xsd:enumeration>
				<xsd:enumeration value="creator"></xsd:enumeration>
			<xsd:enumeration value="password"></xsd:enumeration>
			<xsd:enumeration value="custom"></xsd:enumeration>
			<xsd:enumeration value="ntext"></xsd:enumeration>
			<xsd:enumeration value="unknown"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:attributeGroup name="Aso_field">
		<xsd:attribute name="derived" type="xsd:boolean" form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="tableName" type="xsd:string" form="unqualified"></xsd:attribute>
		<xsd:attribute name="dbName" type="xsd:string" form="unqualified"></xsd:attribute>
        <xsd:attribute name="sqlStorageStrategy" type="xsd:string" form="unqualified"></xsd:attribute>
        <xsd:attribute name="customInsertExpression" type="xsd:string" form="unqualified"></xsd:attribute>
        <xsd:attribute name="customSelectExpression" type="xsd:string" form="unqualified"></xsd:attribute>
        <xsd:attribute name="customUpdateExpression" type="xsd:string" form="unqualified"></xsd:attribute>
    </xsd:attributeGroup>
	<xsd:complexType name="TvalueMap">
		<xsd:choice>
			<xsd:element name="value" type="Tvalue" minOccurs="0"
				maxOccurs="unbounded">
			</xsd:element>
			<xsd:element name="service" type="Tservice" minOccurs="0"></xsd:element>
		</xsd:choice>

	</xsd:complexType>
	<xsd:complexType name="Tvalidator">
		<xsd:choice>
			<xsd:element name="list" type="xsd:string" minOccurs="0"
				maxOccurs="unbounded">
			</xsd:element>

			<xsd:element name="dependentFields" type="xsd:string">
			</xsd:element>
			<xsd:element name="valueMap" type="TvalueMap"></xsd:element>
			<xsd:element name="serverCondition" type="xsd:string"></xsd:element>
			<xsd:element name="service" type="Tservice"></xsd:element>
		</xsd:choice>
		<xsd:attribute name="clientOnly" type="xsd:boolean"
			form="unqualified" default="false">
		</xsd:attribute>
		<xsd:attribute name="type" type="Evalidator" form="unqualified"
			use="required">
		</xsd:attribute>
		<xsd:attribute name="stopIfFalse" type="xsd:boolean"
			form="unqualified" default="false">
		</xsd:attribute>
		<xsd:attribute name="errorMessage" type="xsd:string"
			form="unqualified">
			<xsd:annotation>
				<xsd:documentation>
					used by all validators
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="serverOnly" type="xsd:boolean"></xsd:attribute>
		<xsd:attribute name="validateOnChange " type="xsd:boolean"></xsd:attribute>
		<xsd:attribute name="max" type="xsd:double" form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="min" type="xsd:double" form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="exclusive" type="xsd:boolean" form="unqualified"
			default="false">
		</xsd:attribute>
		<xsd:attribute name="mask" type="xsd:string" form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="transformTo" type="xsd:string"
			form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="precision" type="xsd:double" form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="expression" type="xsd:string" form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="otherField" type="xsd:string" form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="substring" type="xsd:string" form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="operator" type="xsd:string" form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="count" type="xsd:long"></xsd:attribute>
	</xsd:complexType>
	<xsd:simpleType name="Evalidator">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="isBoolean"></xsd:enumeration>
			<xsd:enumeration value="isString"></xsd:enumeration>
			<xsd:enumeration value="isInteger"></xsd:enumeration>
			<xsd:enumeration value="isFloat"></xsd:enumeration>
			<xsd:enumeration value="isFunction"></xsd:enumeration>
			<xsd:enumeration value="requiredIf"></xsd:enumeration>
			<xsd:enumeration value="matchesField"></xsd:enumeration>
			<xsd:enumeration value="isOneOf"></xsd:enumeration>
			<xsd:enumeration value="integerRange"></xsd:enumeration>
			<xsd:enumeration value="lengthRange"></xsd:enumeration>
			<xsd:enumeration value="contains"></xsd:enumeration>
			<xsd:enumeration value="doesntContain"></xsd:enumeration>
			<xsd:enumeration value="substringCount"></xsd:enumeration>
			<xsd:enumeration value="regexp"></xsd:enumeration>
			<xsd:enumeration value="mask"></xsd:enumeration>
			<xsd:enumeration value="dateRange"></xsd:enumeration>
			<xsd:enumeration value="floatLimit"></xsd:enumeration>
			<xsd:enumeration value="floatRange"></xsd:enumeration>
			<xsd:enumeration value="floatPrecision"></xsd:enumeration>
			<xsd:enumeration value="required"></xsd:enumeration>
			<xsd:enumeration value="readOnly"></xsd:enumeration>
			<xsd:enumeration value="isUnique"></xsd:enumeration>
			<xsd:enumeration value="hasRelatedRecord"></xsd:enumeration>
			<xsd:enumeration value="serverCustom"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>


	<xsd:complexType name="Tvalidators">
		<xsd:sequence>
			<xsd:element name="validator" type="Tvalidator"
				maxOccurs="unbounded"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ToperationBindings">
		<xsd:sequence>
			<xsd:element name="operationBinding" type="ToperationBinding" minOccurs="1"
				maxOccurs="unbounded"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ToperationBinding">
		<xsd:sequence>
			<xsd:group ref="Gc_client_i"></xsd:group>
			<xsd:element name="export" type="Texport" minOccurs="0"></xsd:element>
			<xsd:element name="queryClauses" type="TqueryClauses"
				minOccurs="0">
			</xsd:element>
			<xsd:group ref="Gs_with_operation"></xsd:group>
			<xsd:element name="outputs" type="xsd:string"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						comma-separated list of field names,for usually
						this is a subset of fields from datasource
						decleare.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="Gs_operation"></xsd:group>
			<xsd:group ref="Gs_extention"></xsd:group>
			<xsd:element name="command" type="xsd:string"
				minOccurs="0">
			</xsd:element>
            <xsd:group ref="Gs_customFields"></xsd:group>
        </xsd:sequence>

		<xsd:attributeGroup ref="Ac_client_i"></xsd:attributeGroup>
		<xsd:attributeGroup ref="Ac_action"></xsd:attributeGroup>
		<xsd:attributeGroup ref="Atransaction"></xsd:attributeGroup>
    </xsd:complexType>

	<xsd:complexType name="Texport">
		<xsd:sequence>
			<xsd:element name="exportFields" type="xsd:string"
				minOccurs="0" maxOccurs="1"></xsd:element>
		</xsd:sequence>
		<xsd:attribute name="exportResults" type="xsd:boolean"
			form="unqualified" default="true">
		</xsd:attribute>
		<xsd:attribute name="exportAs" type="EexportAs" form="unqualified"></xsd:attribute>
		<xsd:attribute name="exportFilename" type="xsd:string"
			form="unqualified">
			<xsd:annotation>
				<xsd:documentation>
					velocity expression
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="lineBreakStyle" type="xsd:string"
			form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="exportDelimiter" type="xsd:string"
			form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="exportTitleSeparatorChar" type="xsd:string"
			form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="exportDisplay" type="xsd:string"
			form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="exportHeader" type="xsd:string"
			form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="exportFooter" type="xsd:string"
			form="unqualified"></xsd:attribute>
	</xsd:complexType>
	<xsd:simpleType name="EexportAs">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="csv"></xsd:enumeration>
			<xsd:enumeration value="json"></xsd:enumeration>
			<xsd:enumeration value="xml"></xsd:enumeration>
			<xsd:enumeration value="xls"></xsd:enumeration>
			<xsd:enumeration value="ooxml"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="TqueryClauses">
		<xsd:sequence>
			<xsd:element name="customSQL" type="xsd:string"
				minOccurs="0"></xsd:element>
			<xsd:element name="selectClause" type="xsd:string"
				minOccurs="0" maxOccurs="1">
			</xsd:element>
			<xsd:element name="valuesClause" type="xsd:string"
				minOccurs="0" maxOccurs="1">
			</xsd:element>
			<xsd:element name="tableClause" type="xsd:string"
				minOccurs="0" maxOccurs="1">
			</xsd:element>
			<xsd:element name="whereClause" type="xsd:string"
				minOccurs="0" maxOccurs="1">
			</xsd:element>
			<xsd:element name="groupClause" type="xsd:string"
				minOccurs="0" maxOccurs="1">
			</xsd:element>
			<xsd:element name="orderCaluse" type="xsd:string"
				minOccurs="0" maxOccurs="1">
			</xsd:element>
			<xsd:element name="groupWhereClause" type="xsd:string"
				minOccurs="0" maxOccurs="1">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:group name="Gs_operation">
		<xsd:sequence>
			<xsd:element name="criteria" type="TfieldNameValue" minOccurs="0" maxOccurs="unbounded"></xsd:element>
			<xsd:element name="values" type="TfieldNameValue" minOccurs="0" maxOccurs="unbounded"></xsd:element>
		</xsd:sequence>
	</xsd:group>

	<xsd:complexType name="TfieldNameValue">
		<xsd:attribute name="fieldName" type="xsd:string" form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="value" type="xsd:string" form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="textMatchStyle" type="xsd:string"></xsd:attribute>
	</xsd:complexType>


	<xsd:attributeGroup name="Ac_action">
		<xsd:attribute name="allowMultiUpdate" type="xsd:boolean"
			form="unqualified">
		</xsd:attribute>
		<xsd:attribute name="operationType" type="Eoperation"
			form="unqualified" use="required"></xsd:attribute>
		<xsd:attribute name="operationId" type="xsd:string"
			form="unqualified"></xsd:attribute>
		<xsd:attribute name="preventHTTPCaching" type="xsd:boolean"
			form="unqualified"></xsd:attribute>
        <xsd:attribute name="serverMethod" type="xsd:string" form="unqualified"></xsd:attribute>
    </xsd:attributeGroup>
	<xsd:simpleType name="Eoperation">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="fetch"></xsd:enumeration>
			<xsd:enumeration value="add"></xsd:enumeration>
			<xsd:enumeration value="update"></xsd:enumeration>
			<xsd:enumeration value="remove"></xsd:enumeration>
			<xsd:enumeration value="validate"></xsd:enumeration>
			<xsd:enumeration value="custom"></xsd:enumeration>
			<xsd:enumeration value="replace"></xsd:enumeration>
			<xsd:enumeration value="downloadFile"></xsd:enumeration>
			<xsd:enumeration value="viewFile"></xsd:enumeration>
			<xsd:enumeration value="loadSchema"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:attributeGroup name="Atransaction">
		<xsd:attribute name="autoJoinTransactions" type="xsd:boolean" form="unqualified"></xsd:attribute>
	</xsd:attributeGroup>

    <xsd:complexType name="TsqlPara"><xsd:attributeGroup ref="Aso_datasource"></xsd:attributeGroup></xsd:complexType>

    <xsd:group name="Gs_extention">
    	<xsd:sequence>
    		<xsd:element name="cache" type="Tobject" minOccurs="0"></xsd:element>
    		<xsd:element name="configuration" type="Tobject" minOccurs="0"></xsd:element>
    	</xsd:sequence>
    </xsd:group>

    <xsd:group name="Gs_customFields">
    	<xsd:sequence>
    		<xsd:element name="customCriteriaFields"
				type="xsd:string" minOccurs="0">
			</xsd:element>
			<xsd:element name="customValueFields" type="xsd:string" minOccurs="0"></xsd:element>
			<xsd:element name="excludeCriteriaFields"
				type="xsd:string" minOccurs="0">
			</xsd:element>
			<xsd:element name="customFields" type="xsd:string" minOccurs="0"></xsd:element>
    	</xsd:sequence>
    </xsd:group>

    <xsd:complexType name="Tvalue">
    	<xsd:attribute name="id" type="xsd:string" form="unqualified" use="required"></xsd:attribute>
    	<xsd:attribute name="name" type="xsd:string" form="unqualified"></xsd:attribute>
    </xsd:complexType>
</xsd:schema>