resource/eclipse-cofig/xml-validation-xsd/solmix-config-101.xsd

<?xml version='1.0'?>
	<!-- NOTE: this file is autogenerated by Apache XBean -->

<xs:schema targetNamespace='http://www.solmix.com/xmlns/config/v1.0.1'
	xmlns:xs='http://www.w3.org/2001/XMLSchema' xmlns:bp="http://www.osgi.org/xmlns/blueprint/v1.0.0"
	xmlns:tns='http://www.solmix.com/xmlns/config/v1.0.1'
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.osgi.org/xmlns/blueprint/v1.0.0" />


	<xs:group name="componentElements">
		<xs:annotation>
			<xs:documentation>
				Defines the valid elements for command components.
				This is based on
				beans:beanElements,
				stripping off the bits which are
				not valid in the command component context.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="argument" type="bp:Targument" />
				<xs:element name="property" type="bp:Tproperty" />
				<!--
					NOTE: This seems to cause schema validation problems... not really
					sure why <xs:any namespace="##other" processContents="strict"
					minOccurs="0" maxOccurs="unbounded"/>
				-->
			</xs:choice>
		</xs:sequence>
	</xs:group>

	<xs:attributeGroup name="componentAttributes">
		<xs:annotation>
			<xs:documentation>
				Defines the valid attributes for command
				components. This is based on
				beans:beanAttributes,
				stripping off the
				bits which are not valid in the command component context.
			</xs:documentation>
		</xs:annotation>
		<xs:attribute name="class" type="xs:string" />
		<xs:attribute name="depends-on" type="xs:string" />
		<xs:attribute name="init-method" type="xs:string" />
		<xs:attribute name="factory-method" type="xs:string" />
		<xs:attribute name="factory-bean" type="xs:string" />
		<xs:anyAttribute namespace="##other" processContents="lax" />
	</xs:attributeGroup>


	<xs:complexType name="TconfigBundle">
		<xs:sequence>
			<xs:element name="module" type="tns:Tmodule"></xs:element>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="optional"></xs:attribute>
	</xs:complexType>

	<xs:element name="config-bundle" type="tns:TconfigBundle"></xs:element>

	<xs:complexType name="Tmodule">
		<xs:sequence>
			<xs:element name="cm" type="tns:Tcm"></xs:element>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required" form="unqualified"></xs:attribute>
		<xs:attribute name="reference-persistent-id" type="xs:string"></xs:attribute>
		<xs:attribute name="flags" type="tns:Eflag" default="required"></xs:attribute>
	</xs:complexType>

	<xs:simpleType name="Eflag">
		<xs:restriction base="xs:string">
			<xs:enumeration value="required"></xs:enumeration>
			<xs:enumeration value="requisite"></xs:enumeration>
			<xs:enumeration value="sufficient"></xs:enumeration>
			<xs:enumeration value="optional"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="Tcm">
		<xs:sequence>
			<xs:element name="argument" type="bp:Targument" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="property" type="bp:Tproperty"" minOccurs="0"></xs:element>
		</xs:sequence>
		<xs:attribute name="class" type="xs:string"></xs:attribute>
		<xs:attribute name="depends-on" type="xs:string"></xs:attribute>
		<xs:attribute name="init-method" type="xs:string"></xs:attribute>
		<xs:attribute name="factory-method" type="xs:string"></xs:attribute>
		<xs:attribute name="factory-bean" type="xs:string"></xs:attribute>
		<xs:anyAttribute></xs:anyAttribute>
	</xs:complexType>
</xs:schema>
